
<!-- css -->
<link rel="stylesheet" href="/css/post0.css">

<!-- 구글 폰트 -->
<link href="https://fonts.googleapis.com/css2?family=Edu+TAS+Beginner:wght@400..700&display=swap" rel="stylesheet">
<link href="https://fonts.googleapis.com/css2?family=Carter+One&family=Dongle&family=Edu+TAS+Beginner:wght@400..700&family=Gowun+Dodum&family=Julius+Sans+One&family=Sunflower:wght@300&display=swap" rel="stylesheet">
<link href="https://fonts.googleapis.com/css2?family=Carter+One&family=Dongle&family=Edu+TAS+Beginner:wght@400..700&family=Gowun+Dodum&family=IBM+Plex+Sans+KR&family=Julius+Sans+One&family=Orbit&family=Sunflower:wght@300&display=swap" rel="stylesheet">


<div class="wrap">
<h1 class="title">
  ! <%= data.category %> !
</h1>

  <div class="left">
    <h1 class="ti01">궁합</h1>
    <div class="comm">
      <%= data.communication %>
    </div>

    <h1 class="ti02">연애성향</h1>
    <div class="cont">
      <%= data.romantic %>
    </div>
  </div>
  
  <div class="right">
    <h1><%= data.category %> 빙고</h1>
    <table>
      <tr>
        <td><%= data.value1 %></td>
        <td><%= data.value2 %></td>
        <td><%= data.value3 %></td>
        <td><%= data.value4 %></td>
      </tr>
      <tr>
        <td><%= data.value5 %></td>
        <td><%= data.value6 %></td>
        <td><%= data.value7 %></td>
        <td><%= data.value8 %></td>
      </tr>
      <tr>
        <td><%= data.value9 %></td>
        <td><%= data.value10 %></td>
        <td><%= data.value11 %></td>
        <td><%= data.value12%></td>
      </tr>
        <td><%= data.value13 %></td>
        <td><%= data.value14 %></td>
        <td><%= data.value15 %></td>
        <td><%= data.value16 %></td>
      </tr>
    </table>
  </div>
</div>
</article>
